@import './styles/global';

.main-container {
	height: 450px;
	position: relative;
}

.main-content {
	align-items: center;
	color: #fff;
	display: flex;
	flex-direction: row;
	height: inherit;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;

	.background {
		svg {
			fill: $primary-color;
			height: 400px;
			position: absolute;
			stroke: none;
			top: 0;
			width: 100%;
			z-index: -1;
		}

		img {
			bottom: 40px;
			cursor: pointer;
			left: 0;
			margin-left: auto;
			margin-right: auto;
			position: absolute;
			right: 0;
			text-align: center;
			transition: all .2s ease-in-out;

			&:hover {
				animation: none;
				transform: scale(1.2);
			}
		}
	}
}

.main-middle-content {
	align-items: center;
	display: flex;
	height: auto;
	justify-content: center;
	margin-top: -80px;
	padding: 0 50px;
	width: 100%;

	.side-image {
		align-items: flex-end;
		display: flex;
		margin-top: 150px;
	}

	img {
		height: auto;
		width: 100%;
	}

	.details {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;

		h1 {
			color: #fff;
			font: normal normal bold calc(1.5vw + 1vh) 'Montserrat';
			letter-spacing: 0;
			margin-bottom: 34px;
			text-align: center;
		}

		h2 {
			color: $subtitle-color;
			font: normal normal 600 16px/27px 'Montserrat';
			letter-spacing: 1.6px;
			text-align: center;
		}

		ul {
			align-items: center;
			display: flex;
			flex-direction: column;
			list-style: none;
		}

		li {
			background-image: url('assets/images/iconCheck.svg');
			background-position: 5px 0;
			background-repeat: no-repeat;
			color: $subtitle-color;
			font: normal normal normal 16px/22px 'Montserrat';
			font-size: 15px;
			padding-left: 30px;
		}
	}
}

.main-plans {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 30px;
	width: 100%;

	p {
		color: $primary-color;
		font: normal normal normal 14px/26px Montserrat;
		letter-spacing: 0;
		margin-bottom: 10px;
	}
}

.main-carousel {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;

	.carousel-container { width: 100%; }

	.react-multiple-carousel {
		&__arrow {
			background: $header-color !important;
			font-weight: bold !important;
		}
	}
}

@media (max-width: 320px) {
	header { padding-left: 2%; }

	.main-middle-content {
		padding: 0 10px;

		.side-image { display: none; }

		.details {
			h1 { font: normal normal bold 24px/32px 'Montserrat'; }

			ul {
				list-style: none;
				text-align: center;
			}
		}
	}

	.plan-card {
		margin: 20px 40px;
		padding: 10px;
		width: 266px;

		&__section02 {
			button {
				height: 44px;
				width: 230px;

				&:hover { transform: scale(1); }
			}
		}

		hr {
			border: 1px solid $border-color;
			width: 266px;
		}

		&:hover {
			.card-hover-up,
			.card-hover-down { display: none; }
		}
	}
}

@media (min-device-width: 321px) and (max-width: 1024px) {
	header { padding-left: 2%; }

	.main-content {
		.side-image { display: none; }

		.details {
			h1 { font: normal normal bold 30px/45px 'Montserrat'; }

			ul {
				list-style: none;
				text-align: center;
			}
		}
	}
}
