@import '../../styles/global';

.plan-card {
	align-items: center;
	background: #fff 0% 0% no-repeat padding-box;
	border: 1px solid $border-color;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	height: 650px;
	justify-content: space-between;
	margin: 20px 0;
	padding: 60px 30px;
	position: relative;
	width: 330px;

	%card-hover {
		background: $hover-color 0% 0% no-repeat padding-box;
		border: 1px solid $border-color;
		display: none;
		height: 14px;
		position: absolute;
		transition: all .2s ease-in-out;
		width: 330px;
		z-index: -1;
	}

	.card-hover-up {
		@extend %card-hover;
		border-radius: 4px 4px 0 0;
		top: 0;
	}

	.card-hover-down {
		@extend %card-hover;
		border-radius: 0 0 4px 4px;
		bottom: 0;
	}

	&:hover {
		.card-hover-up {
			display: block;
			top: -12px;
		}

		.card-hover-down {
			bottom: -12px;
			display: block;
		}
	}

	&__section01 {
		display: flex;
		gap: 8px;
		position: relative;
		width: 100%;

		h2 {
			color: $primary-color;
			font: normal normal bold 26px/26px Montserrat;
			letter-spacing: 0;
			text-align: center;
		}
	}

	&__section02 {
		display: flex;
		flex-direction: column;
		gap: 10px;
		margin: 10px 0;
		width: 100%;

		button {
			background: $secondary-color 0% 0% no-repeat padding-box;
			border: 0 hidden $border-color;
			border-radius: 26px;
			color: #fff;
			cursor: pointer;
			font: normal normal bold 22px/27px Montserrat;
			height: 52px;
			margin: 14px 0;
			transition: all .2s ease-in-out;
			width: 280px;

			&:hover {
				background: $hover-color 0% 0% no-repeat padding-box;
				transform: scale(1.04);
			}
		}

		.price-top {
			align-items: center;
			display: flex;
			flex-direction: column;

			p {
				color: $text-color;
				font: normal normal normal 13px/19px Montserrat;
				letter-spacing: 0;
			}
		}

		.dashed-price {
			display: flex;
			gap: 4px;

			p { text-decoration: line-through; }
		}

		.price-middle {
			color: $primary-color;
			font: normal normal normal 20px/24px Montserrat;
			letter-spacing: 0;

			strong { font: normal normal bold 35px/24px Montserrat; }
		}

		img {
			cursor: pointer;
			transition: all .2s ease-in-out;

			&:hover { transform: scale(1.2); }
		}

		.price-bottom {
			align-items: center;
			display: flex;
			flex-direction: column;
			gap: 4px;

			strong {
				align-items: center;
				color: $text-color;
				display: flex;
				font: normal normal bold 15px/20px Montserrat;
				gap: 4px;
				letter-spacing: 0;
			}

			p {
				color: $primary-color;
				font: normal normal normal 14px/18px Montserrat;
			}
		}

		.price-bottom-badge {
			align-items: center;
			display: flex;
			gap: 4px;
			justify-content: center;
			width: 100%;

			span {
				align-items: center;
				background: $badge-color 0% 0% no-repeat padding-box;
				border-radius: 224px;
				color: #fff;
				display: flex;
				font: normal normal bold 14px/18px Montserrat;
				height: 24px;
				justify-content: center;
				text-transform: uppercase;
				width: 80px;
			}
		}

	}

	&__section03 {
		width: 100%;

		ul {
			list-style: none;

			li {
				color: $text-color;
				font: normal normal normal 16px/32px Montserrat;
			}
		}
	}

	hr {
		border: 1px solid $border-color;
		width: 330px;
	}

	div {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}
